.hamburger:hover,
.navlinks:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.topbanner {
  transition: 0.8s ease-in-out;
}
.topbanner:hover {
  transform: scale(1.1);
}
@media (max-width: 430px) {
  .navlinks {
    font-size: 80% !important;
    padding: 3%;
  }
}
