.flex-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.button-style {
  margin-top: 5%;
  font-size: 100%;
  padding: 1%;
  font-family: Montserrat, sans-serif;
  background-color: #051d40;
  color: #fff;
}
.photo-style {
  margin-top: 5%;
  width: 100%;
}
.photo-style.hidden {
  display: none;
}
.review-widget {
  width: 80%;
}
